@use 'normalise';
@use 'variables';
@use 'media';
@use 'mixins';

html {
  font-size: 62.5%; // 1rem = 10px
  box-sizing: border-box;
}
body {
  font-size: 1.6rem;
  font-family: 'Roboto', sans-serif;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
