// heights
$column-height: 6rem;
//colors
$base-black-title: #2c3c44;
$base-green: #7cb342;
$free-green: #cddc39;
$border-grey: #cfd8dc;
$text-dark-grey: #546e7a;
$text-light-grey: #90a4ae;
$scroll-color: #d7dfe2;
$danger-color: #e8364f;
//margins
$small-margin: 2rem;
$default-margin: 4rem;
$big-margin: 10rem;
$medium-margin: 6rem;
//font-size
$fz-title: 3.6rem;
// border-radius
$default-br: 0.4rem;
// transition
$default-transition: 0.3s ease-in-out;
